.text {
    padding: 10px;
    color: #136462;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
 /* APP - CONTAINER (TOPBAR, SV, BOTTOMBAR) */
.svWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

 /* TOPBAR/BOTTOM BAR CONTAINER */
.inputsWrapper {
    height: 10vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /* LEFT PART OF TOP/BOTTOMBAR - CONTAINER */
.leftButtonWrapper {
    width: 40%;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BUTTONS */
.button {
    background-color: white;
    color: #136462;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    border: 0px;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    /* for shadow */
    -webkit-box-shadow: 0px 8px 49px -9px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 8px 49px -9px rgba(0,0,0,0.38);
    box-shadow: 0px 8px 49px -9px rgba(0,0,0,0.38);
}

.stopButton {
    background-color: rgb(255, 68, 68);
    color: white;
}

.button:hover {
    background-color: rgb(240, 240, 240);
}

.stopButton:hover {
    background-color: rgb(255, 25, 25);
}

.button:active {
    transform: translateY(2px);
}

.button:disabled {
    background-color: rgb(230, 230, 230);
    cursor: not-allowed;
}

/* RIGHT PART OF TOP/BOTTOMBAR - CONTAINER */
.rightButtonWrapper {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SLIDER */
#sliderRangeValue {
    margin: 5px;
    width: 30px;
    color: #136462;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#slider {
    -webkit-appearance: none;
    width: 120px;
    height: 8px;
    border-radius: 5px;  
    background: #b5b5b5;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider:hover {
    background: #bebebe;
}

#slider:disabled {
    cursor: not-allowed;
}
  
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #136462;
    cursor: pointer;
}

#slider::-webkit-slider-thumb:hover {
    background: #1c9492;
}

#slider::-webkit-slider-thumb:active {
    transform: translateY(1px);
}
  
#slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #136462;
    cursor: pointer;
}

 /* SORTING VISUALIZER - CONTAINER & BARS */
.barsWrapper {
    height: 80vh;
    width: 80vw;
    font-size: 1.5rem;
    color: white;
    /* background-color: black; */
    display: flex;
    justify-content: space-evenly;
}

.bar {
    background-color: #54BAB9;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.greenBar {
    background-color: #00d924;
}

.redBar {
    background-color: #ff4343;
}

.yellowBar {
    background-color: #e7ff13;
}

/* DROP UP MENU - SORTING ALGORITHMS */
.dropupWrapper {
    position: relative;
    width: auto;
}
  
.dropupMenu {
    position: absolute;
    min-width: 150px;
    bottom: 30px;
    height: 25vh;
    padding: 0px 0px 10px 10px;
    z-index: 1;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

/* WATER MARK - SORTING ALGORITHM */
.waterMark {
    font-size: 6rem;
    font-weight: 700;
    font-style: italic;
    color: #cacaca;
    padding-left: 5vw;
    position: absolute;
    height: 100vh;
    top: 0px;
    left: 0px;
    /* background-color: pink; */
    z-index: -100;
    display: flex;
    align-items: center;
}

/* RESPONSIVENESS  */
@media only screen and (max-width: 1000px) {
    .upperButtonWrapper {
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .barsWrapper {
        width: 92vw;
        font-size: 1rem;
    }
    .inputsWrapper {
        width: 92vw;
    }
    .upperButtonWrapper {
        width: 40%;
    }
}
  